doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Reminder
  body
    h1 Hey there #{name}.
    p
      | I hope you're doing great. This is to remind you about the reminder that you set. 
      br
    p
      b What?
      |  #{title} 
      br
      b When?
      |  #{date}
    p You may reply to this mail in case of any queries.
    p
      | Cheers, 🍻
      br
      | Shreyas Jamkhandi
